.darkicon {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.lighticon {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}

.logo{
  display: flex;
  align-items: center;
}